---
layout: default
---
<style type="text/css">
	body{
		background: -webkit-linear-gradient(left,rgb(240,240,255),rgb(255,240,240));
		background: -o-linear-gradient(left,rgb(240,240,255),rgb(255,240,240));
		background: -moz-linear-gradient(left,rgb(240,240,255)),rgb(255,240,240));
		background: linear-gradient(left,rgb(240,240,255),rgb(255,240,240));		
		background-color: rgb(245,245,255);
		left-margin:0;
		right-margin:0;
	}
    .namebox { padding: 30px 30px;  border-radius: 15px; color:white;background-color:rgba(0,0,30,0.5);}
</style>
<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="height:500px;background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="container" style="height:500px;padding:100px 0;">
      <div class="row">
        <div class="col-lg-8 col-md-8 mx-auto">
          <div class="namebox">
			<img src='/img/profile.png' style="margin-right:30px; float:left; width:160px">
			<h2 style= "margin-top:0px;margin-bottom:15px;"> KI-HYUN KIM </h2>
			<h5> Undergraduate Student </h5>
			<h6> Dept. of Electrical and Computer Engineering <br> Seoul National University <br><br>
		      <i class="fa fa-envelope"></i>
			  &nbsp;&nbsp;haha802@naver.com</h6>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container" ">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
 		<article style="background-color:white;font-size:80px;text-align:center;">
	      <i class="fa fa-lightbulb-o"></i>
 		  <h1 style="text-align:center"> Research Interests</h1>
		
		</article>
        <hr>
		<article style="background-color:white;font-size:80px;text-align:center;">
		  <i class="fa fa-graduation-cap"></i>		
		  <h1 style="text-align:center">Education</h1>

		
		</article>
        <hr>
	    <article style="background-color:white;font-size:80px;text-align:center;">
		<i class="fa fa-building-o"></i>
		<h1 style="text-align:center">Work Experience</h1>

		
		</article>
		<hr>
      </div>
    </div>
  </div>
