---
layout: default
---
<style type="text/css">
    #namebox { padding: 30px 30px;height:100%;  border-radius: 15px; color:white;background-color:rgba(0,0,30,0.5);}
</style>
<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="height:500px;background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="container" style="height:500px;">
      <div class="row"style="position:relative;top:25%;">
        <div class="col-lg-7 col-md-7 mx-auto">
          <div id="namebox">
			<img src='/img/profile.png' style="margin-right:30px; float:left; width:160px">
			<h2 style= "margin-top:0px;margin-bottom:15px;"> KI-HYUN KIM </h2>
			<h5> Undergraduate Student </h5>
			<h6> Dept. of Electrical and Computer Engineering <br> Seoul National University <br><br>
		      <i class="fa fa-envelope"></i>
			  haha802@naver.com</h6>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% else %}
                <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
            </a>
            <p class="post-meta">Posted by
              {% if post.author %}
                {{ post.author }}
              {% else %}
                {{ site.author }}
              {% endif %}
              on
              {{ post.date | date: '%B %d, %Y' }}</p>
          </article>

          <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
