---
layout: archive
---
<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<style type="text/css">
	a:link {
		text-decoration: none;
	}
	button.btn{
	  background-color: #000000;
	  color: white;
	  font-size: 0.7em;
	  transition-duration: 0.4s;
	}
	button.btn:hover {
	  background-color: skyblue; /* Green */
	  color: white;
	}
	h6.custom1{
		font-size: 0.7em;
		font-weight: 450;
		margin-top: 0.8em;
		margin-bottom: 0.8em;
		line-height: 1.5em;
	}
	h5.custom1{
		border-bottom: 1px solid #dedede;
	}
	.image-container {
	  display: flex;
	}
	
</style>
<h5 class="custom1">Research Interest</h5>
<h6 class="custom1"> My research interests lie in the area of <strong>Control, Optimization, and Robotics.</strong><br>
	I aim to develop decision-making algorithms that operate safely and efficiently in uncertain or hazardous conditions. 
	I am also interested in addressing practical challenges in robotics, such as safe planning in dynamic environments.
</h6>

<br>
<h5 class="custom1">Background</h5>
<div class="row">
	<div class="col-sm-8 col-md-8 ml-auto">
	<h6 class="custom1"> I received B.S. in Electrical and Computer Engineering from Seoul National University with <i>Summa Cum Laude</i> (2020).
	During undergraduate years, I have been supported by <a href="/honors">Seoam Scholarship Program</a> and advised by <a href="http://coregroup.snu.ac.kr/~yang/">Professor Insoon Yang</a> for my <a href="/publication">thesis</a>.
	Before then, I graduated from Seoul Science High School (2014).
	</h6>
	</div>
	<div class="col-sm-4 col-md-4 mr-auto image-container" style="text-align:center;">
	  <img src='/assets/images/grad.jpg' style="max-height:100%; margin:auto;">
	</div>
</div>


