---
layout: default
---
<style type="text/css">
	.custom{
	text-align: center;
	color:rgba(50,50,100,1);
	font-size: 70px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 2px;
	font-family: sans-serif-font;
	}}
</style>
<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="height:400px;background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="container"style="height:400px;">
    <div class="row"style="position:relative;top:25%;">
      <div class="col-lg-8 col-md-10 mx-auto">
          <div class="custom">{{ page.title }}</div>
          {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
          {% endif %}
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {{ content }}

    </div>
  </div>
</div>
